{% extends 'base.html.twig' %}


 {% block body %}


   

   
     <table class="table">
    <thead>
      <tr>
        <th>Cuit</th>
        <th>Nombre</th>
        <th>Cant Empleados</th>
      </tr>
    </thead>
    <tbody>
    	

    	{% for empresa in empresas %}
		<tr>
	    	<td>{{empresa.cuit}}</td>
	    	<td>{{empresa.nombre}}</td>
	    	<td>{{empresa.cantEmpleados}}</td>
	    	<td>
	    		
	    		<a href="/lista/editar/{{empresa.id}}" class="btn btn-info">Editar</a>

	    		<a href="/lista/eliminar/{{empresa.id}}" class="btn btn-danger">Eliminar</a>
	    	</td>
    	</tr>
    	{% endfor %}
    </tbody>
  </table>
  <a href="/lista/agregar" class="btn btn-success">Agregar</a>

 

{% endblock %}
  